.list {
  grid-column: 1 / -1;
  grid-row: 2;
  width: 100%;
  min-width: 0;
  padding-bottom: space(4);
  display: grid;

  grid-auto-flow: column;
  grid-auto-columns: minmax(212px, 1fr);
  align-items: stretch;
  overflow: auto hidden;
  gap: space(2);
  scroll-snap-type: x proximity;

  -ms-overflow-style: none;
  grid-auto-rows: 1fr;

  @include respond(desktop) {
    overflow: visible;
    padding-bottom: 0;
  }
}

.list__item {
  min-width: 0;
}

.container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto 1fr;
  min-width: 0;
  row-gap: space(3);
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: space(2);
  min-width: 0;
}

.title {
  margin: 0;
  min-width: 0;
  flex: 1 1 auto;
}

.button__container {
  display: flex;
  align-items: center;
  gap: space(1);
  flex-shrink: 0;
}


.button__left,
.button__right {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: calc($space-unit * 10);
  block-size: calc($space-unit * 10);
  flex: 0 0 calc($space-unit * 10);
}

.button__left {
  svg {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
  }
}

.button__right {
  svg {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
}
